html {
  font-family: 'Acme', sans-serif;
  background-image: url("assets/faded-background.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
}

.main {
  display: none;
  justify-content: space-between;
  transition: opacity 2s ease-in;
}

.main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 60%;
  text-align: center;
}

.title {
  text-align: center;
  line-height: 1.5em;
}

h1 {
  font-size: 60pt;
}

h2 {
  font-size: 48pt;
}

h3 {
  font-size: 40pt;
}

aside {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 👇🏽 Change Icon Button*/
.token-button, .skip-intro {
  appearance: none;
  background-color: #c8e7f0;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Acme',sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.token-button:hover {
  background-color: #228564;
  box-shadow: #2b9b74 0 -6px 8px inset;
  transform: scale(1.125);
}

.token-button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .token-button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.result {
  display: flex;
  flex-direction: column;
  height: 100px;
  padding: 10px;
}

.wins-calculator {
  font-size: 24pt;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #207da4, 0 0 40px #273d84;
}


.change-game-button, .score-reset-button {
  margin-top: 40%;
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Acme', sans-serif;
  font-size: 24px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.change-game-button:before, .score-reset-button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.change-game-button:hover, .score-reset-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .game-change-button, .score-reset-button {
    padding: 16px 48px;
  }
}

.game-options{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-box{
  font-size: 24pt;
  font-family: 'Acme', sans-serif;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  border:transparent;
  border-radius: 12pt;
  height: 700px;
  width: 650px;
  padding: 10pt;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: box-shadow .1s;
  transform: scale(1.05);
  cursor: pointer;
}

button:active {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transform: translateY(4px);
}

.battle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.elements {
  height: 110px;
}

.greater-than {
  height: 40px
}

.players {
  height: 30%;
  width: max-content;
  padding: 20px;
}

.classic-weapons, .challenge-weapons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 40px;
}

.challenge-weapons, .show-results{
  padding-bottom: 100px;
}

.icon {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 10px;
}

div {
  display: flex;
  justify-content: center;
}

.choice {
  display: flex;
  height: 400px;
  width: 400px;
  justify-content: space-between;
  flex-direction: row;
  padding: 70px;
}

.hidden {
  display: none;
}

.pre-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#preloader {
  background: #022921;
  line-height: 0px;
  height: 100vh;
  width: 100%;
  position: fixed;
  color: rgb(225, 240, 235);
  font-size: 28pt;
  z-index: 100;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.loader {
  height: 100px;
  width: auto;
  size: 15%;
  position: absolute;
  overflow: hidden;
  animation: circle 18s linear infinite;
}

@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-550px)
              rotate(0deg);
  }
  100%{
    transform: rotate(360deg)
               translate(-550px)
               rotate(-360deg);
  }
}
